BASE_URL=http://localhost:3000/
MOVIES_DB_URL=mongodb://localhost:27017
MOVIES_DB_NAME=movies_api

OMDB_API=http://www.omdbapi.com/
OMDB_APIKEY=<enter your api key here>

COMMENTS_DB_URL=mongodb://localhost:27017
COMMENTS_DB_NAME=comments_api
